.game-screen {
  width: 100%;
}

.game-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.categories-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-input {
  width: 100%;
}

.category-input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.1rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.uppercase-input {
  text-transform: uppercase;
}

.game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timer {
  font-size: 1.2rem;
  font-weight: bold;
}

.current-letter {
  font-size: 1.2rem;
}

.current-letter span {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: var(--accent-color);
}

.submit-button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-top: 1rem;
  width: 80%;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: #3dbdb3;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .game-screen {
    padding: 1rem;
  }
  
  .game-header {
    margin-bottom: 2rem;
    padding: 1rem;
    justify-content: space-between;
  }
  
  .submit-button {
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .game-header {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
} 